{% extends "base.html" %}
{% block title %}Driver deletion{% endblock %}
<!-- https://cdnjs.cloudflare.com/ajax/libs/ekko-lightbox/5.3.0/ekko-lightbox.css -->
{% block content %}
<div class="row mb-3">
    <div class="col-sm-12 bg-warning">
        <h2 class="display-4 text-center">Driver deletion</h2>
    </div>
</div>
<div class="row mt-5 mb-3">
    <p>Are you sure you want to delete the driver: {{ driver }}</p>
    <form action="" method="post">
        {% csrf_token %}
        <input type="submit" value="Yes, end him">
    </form>
</div>
{% endblock %}
