{% extends "base.html" %}
{% load widget_tweaks %}
{% block title %}Driver deletion{% endblock %}
<!-- https://cdnjs.cloudflare.com/ajax/libs/ekko-lightbox/5.3.0/ekko-lightbox.css -->
{% block content %}
<div class="row mt-4 mb-3 bg-danger text-light p-3">
    <div class="col-sm-12">
        <h2 class="text-center">Driver deletion</h2>
    </div>
</div>
<div class="row mt-5 pl-3 mb-3">
    <p>Are you sure you want to delete <strong>{{ driver }}</strong> from the database?</p>
    <form action="" method="post">
        {% csrf_token %}
        <button class="btn btn-primary ml-3">Yes, please</button>
    </form>
</div>
{% endblock %}
