<div>
    {% for driver in drivers %}
    <div class="row mt-3 mb-3 pb-2">
        <div class="col-md-3">
            {% if driver.poster %}
            <a href="{% url 'driver-detail' driver.id %}"><img class="img-fluid" src="{{ driver.poster.url }}"
                                                               alt="{{ driver.name }}"></a>
            {% endif %}
        </div>
        <div class="col-md-9">
            <h4><a href="{% url 'driver-detail' driver.id %}">{{ driver.name }}</a></h4>
            <p>{{ driver.biography|truncatewords:30 }}</p>
            <p><strong>Team:</strong> {{ driver.teams.name }}</p>
            <p><strong>Points:</strong> {{ driver.points }} pts</p>
            <hr>
        </div>
    </div>
    {% endfor %}
</div>