{% extends "base.html" %}

{% block content %}
<div class="row mb-3">
    <div class="col-sm-12 bg-warning">
        <h2 class="display-4 text-center">Change of password - message</h2>
    </div>
</div>
<div class="row mb-3">
    <div class="container">
        <h3>Message with password change has been sent</h3>
        <p>The tutorial on how to change password has been sent to the email if the email exists. It might take up to a few minutes.</p>
        <p>If you don't recieve the email, make sure that your email address matches the one you had registered with. Also try to look to your spam folder.</p>
    </div>
</div>
{% endblock %}