{% extends "base.html" %}
{% block title %}Driver detail{% endblock %}
{% load static %}
{% block css %}
    <link rel="stylesheet" href="{% static 'lightbox/css/lightbox.min.css' %}">
{% endblock %}
<!-- https://cdnjs.cloudflare.com/ajax/libs/ekko-lightbox/5.3.0/ekko-lightbox.css -->
{% block content %}
<div class="row mb-3">

</div>
<div class="row mt-4 mb-3">
    <div class="col-lg-6 mb-3">
        <h2 class="text-uppercase mb-3">{{ driver_detail.title }}</h2>
        <div class="bg-danger text-light p-2 mb-3 "> <h3 class="text-center" >{{ driver_detail.name }}</h3>
        </div>
        <div class="row">
            <div class="col-md-8 text-block">{{ driver_detail.biography }}</div>
            <div class="col-md-4">
                {% if driver_detail.poster %}
                <a href="{{ driver_detail.poster.url }}" data-toggle="lightbox" data-gallery="gallery">
                    <img src="{{ driver_detail.poster.url }}" class="img-fluid pb-3" alt="Picture of the driver">
                </a>
                {% endif %}
                <ul class="bg-danger text-light p-4 my-lg-2 pt-lg-2 pb-lg-2">
                    <li>
                        <strong>Team:</strong> {{ driver_detail.teams }}
                    </li>
                    <li>
                        <strong>Birth:</strong> {{ driver_detail.birth }}
                    </li>
                    <li>
                        <strong>Nationality:</strong> {{ driver_detail.nationality }}
                    </li>
                    <li>
                        <strong>Championships:</strong> {{ driver_detail.wdc }}
                    </li>
                    <li>
                        <strong>Victories:</strong> {{ driver_detail.driver_wins }}
                    </li>
                    <li>
                        <strong>Points in 2021:</strong> {{ driver_detail.points }} pts
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="col-lg-6 bg-light p-3">
        <div class="bg-danger text-light p-2 mb-3">
        <h3 class="text-center text-uppercase">Gallery</h3>
        </div>
        <div class="row">
        {% for image in driver_detail.attachment_set.all %}
            <div class="col-lg-6 col-xl-4">
                <a href="{{ image.file.url }}" data-lightbox="gallery">
                    <img src="{{ image.file.url }}" class="img-fluid img-thumbnail" alt="{{ image.title }}">
                </a>
            </div>
        {% endfor %}
        </div>
    </div>
</div>
{% endblock %}
{% block scripts %}
    <script src="{% static 'lightbox/js/lightbox.min.js' %}"></script>

<!-- https://cdnjs.cloudflare.com/ajax/libs/ekko-lightbox/5.3.0/ekko-lightbox.min.js" integrity="sha512-Y2IiVZeaBwXG1wSV7f13plqlmFOx8MdjuHyYFVoYzhyRr3nH/NMDjTBSswijzADdNzMyWNetbLMfOpIPl6Cv9g==" crossorigin="anonymous" referrerpolicy="no-referrer -->
<script>
    </script>
<div>
    {% if perms.formula1.change_driver %}
        <a href="{% url 'driver_update' driver_detail.pk %}" class="btn btn-primary mb-3 ml-3">Edit driver</a>
    {% endif %}
    {% if perms.formula1.delete_driver %}
        <a href="{% url 'driver_delete' driver_detail.pk %}" class="btn btn-danger mb-3 ml-3">Delete driver</a>
    {% endif %}
</div>
{% endblock %}